version: '3.9'
services:
  webserver:
    build:
      context: ..                              # repo root
      dockerfile: Python-code/Billedgenkendelse/Dockerfile
    container_name: python_api
    ports:
      - "5001:5001"
    environment:
      - FLASK_ENV=development